# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
Sysinfo.txt

# Rider / VS / VSCode
.vs/
.vscode/
.idea/
*.sln
*.csproj
*.user
*.unityproj

# OS junk
.DS_Store
Thumbs.db
